<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PÁGINA INICIAL</title>
</head>

<body>
  <h1>Lista de Produtos</h1>
  <table border="1">
    <tr>
      <td>ID</td>
      <td>Produto</td>
      <td>Descrição</td>
      <td>Valor</td>
      <td>Excluir</td>
      <td>Atualizar</td>
    </tr>

    {% for produto in produtos %}

    <tr>
      <td>{{ produto.idProduto}}</td>
      <td>{{ produto.nome }}</td>
      <td>{{ produto.descricao }}</td>
      <td>{{ produto.valor }}</td>
      <td><a href="{{ url_for('excluir_routes.excluir', idProduto=produto.idProduto) }}">X</a></td>
      <td><a href="{{ url_for('atualizar_routes.atualizar', idProduto=produto.idProduto) }}">Atualizar</a></td>
    </tr>

    {% endfor %}
  </table>
  <a href="/index">Voltar</a>
</body>

</html>